@import './colors.less';

.highlight-box {
  margin: auto;
  width: 75%;
  height: 180px;
  border: 1px solid @gray-dark;
  border-radius: 5px;	
  background-color: @black-lighter;
  box-shadow: 0 2px 14px 0 @black-darker;
  padding-top: 39px;
  padding-left: 29px;
  padding-right: 29px;
  padding-bottom: 33px;
  text-align: center;

  .title {
    color: #FFFFFF;
    font-size: 14px;	
    font-weight: 300;	
    letter-spacing: 0.49px;	
    line-height: 19px;
  }

  .flex {
    display: flex;

    .character-code {
      flex-grow: 1;
      margin-top: 21px;
      margin-left: 6px;
      margin-right: 6px;
      height: 54px;
      line-height: 54px;
      border-radius: 5px;	
      background-color: @black-mid;
      color: @gray-light;
      font-size: 14px;
      text-align: center;
      padding-left: 6px;
      padding-right: 6px;

      .spacing {
        margin-left: 3px;
        margin-right: 3px;
      }  
    }
  }
}
