@import './colors.less';

.highlight-box {
  margin: auto;
  padding: 20px;
  width: 75%;
  height: 166px;
  border: 1px solid @gray-dark;
  border-radius: 5px;	
  background-color: @black-lighter;
  box-shadow: 0 2px 14px 0 @black-darker;
  padding-top: 24px;

  .flex {
    display: flex;

    .character-code {
      flex-grow: 1;
      margin: 10px;
      height: 54px;
      line-height: 54px;
      border-radius: 5px;	
      background-color: @black-mid;
      color: @gray-light;
      font-size: 14px;
      text-align: center;
      padding-left: 6px;
      padding-right: 6px;

      .spacing {
        margin-left: 3px;
        margin-right: 3px;
      }      
    }
  }
}
