.wrapper {
  border-radius: 6px;
  background-color: #080D0E;
  margin: 25px;
  padding: 15px;

  .box_name {
    font-size: 22px;
    border: none;
    border-radius: 6px;
    background: transparent;
    color: #8C8E8F;
    width: ~'calc(100% - 150px)';
    padding: 10px;
  }

  hr {
    box-sizing: border-box;
    height: 2px;
    border: 1px solid #2F3235;
    margin: 10px;
  }
}

.secret {
  font-size: 18px;
  margin-left: -15px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;

  .secret_name {
    padding: 10px;
    border: none;
    border-radius: 6px;
    background: transparent;
    color: white;
    margin-left: 15px;
    display: inline-block;
    flex-grow: 1;
    flex-basis: 200px;
  }

  .secret_value {
    padding: 10px;
    border: 1px solid #7E8A95;
    border-radius: 6px;
    background: transparent;
    color: #8C8E8F;
    margin-left: 15px;
    flex-grow: 1;
    flex-basis: 200px;

    &:focus {
      border: 1px solid #D8A22E;
      outline: none;
    }
  }
}
