body {
  background-color: #24272A;
  font-family: Roboto, sans-serif;
  margin: 0px;
}

h1, h2, h3, h4 {
  color: #FFFFFF;
  text-align: center;
}

h1 {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0.4px;
  line-height: 37px;
  margin-top: 40px;
  margin-bottom: 18px;
}

h2 {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.38px;
  line-height: 24px;
  margin-bottom: 40px;
}

h3 {
  font-size: 14px;	
  font-weight: 300;	
  letter-spacing: 0.49px;	
  line-height: 19px;
  margin-bottom: 16px;
}

h4 {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: -0.03px;
  line-height: 16px;
  margin-bottom: 12px;
}

button.btn {
  width: 100%;
}

.btn {
  border: 2px solid rgba(255,255,255,0.5);
  border-radius: 5px;
  background-color: #1A1D1F;
  color: #828485;
  font-size: 14px;
  letter-spacing: 0.49px;
  line-height: 19px;
  margin-bottom: 20px;
  padding: 18px 24px;
  display: block;
  text-decoration: none;
  cursor: pointer;

  &.btn-selected {
    border-radius: 5px;
    background-color: #D8A22E;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.04px;
    line-height: 21px;
  }

  &:hover {
    background-color: #D8A22E;
    color: #FFFFFF;
    text-decoration: none;
  }
}

.options-box {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.highlight-box{
  margin: auto;
  width: 75%;
  height: 166px;
  border: 1px solid rgba(255,255,255,0.5);
  border-radius: 5px;	
  background-color: #333739;
  box-shadow: 0 2px 14px 0 rgba(0,0,0,0.1);
  padding-top: 36px;

  .character-code{
    margin: auto;
    width: 80%;
    height: 54px;
    border-radius: 5px;	
    background-color: #1A1D1F;
    padding-top: 16px;

    .spacing {
      margin: auto;
      height: 19px;
      width: 90%;
      color: rgba(255,255,255,0.7);
      font-size: 14px;
      letter-spacing: 25.19px;
      line-height: 19px;
      text-align: center;
    }
  }
}

.modal {
  border-radius: 10px;
  background-color: #24272A;
  box-shadow: 0 2px 94px 0 #000000;
  overflow: hidden;

  .content {
    padding-top: 1px;
    padding-left: 35px;
    padding-right: 35px;
  }

  .bottom {
    text-align: right;
    background-color: #1A1D1F;
    padding: 28px 35px;

    a {
      color: #D8A22E;
      font-size: 22px;
      font-weight: 300;
      letter-spacing: -0.04px;
      line-height: 29px;
      text-decoration: none;
    }
  }
}
