*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #131617;
  font-family: Roboto, sans-serif;
  margin: 0;
  padding-bottom: 280px !important; // For the keyboard
}

h1, h2, h3, h4 {
  color: #FFFFFF;
  text-align: center;
}

h1 {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0.4px;
  line-height: 37px;
  margin-top: 40px;
  margin-bottom: 18px;
}

h2 {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.38px;
  line-height: 24px;
  margin-bottom: 40px;
}

h3 {
  font-size: 14px;	
  font-weight: 300;	
  letter-spacing: 0.49px;	
  line-height: 19px;
  margin-bottom: 16px;
}

.form-error {
	color: #4d4f51;
	font-size: 12px;
	font-weight: 300;
  letter-spacing: -0.03px;
  margin-bottom: 15px;
  display:inline-block;
}

button.btn {
  width: 100%;
}

.btn {
  border: 2px solid rgba(255,255,255,0.5);
  border-radius: 5px;
  background-color: #1A1D1F;
  color: #828485;
  font-size: 14px;
  letter-spacing: 0.49px;
  line-height: 19px;
  margin-bottom: 20px;
  padding: 18px 24px;
  display: block;
  text-decoration: none;
  cursor: pointer;

  &.btn-selected {
    border-radius: 5px;
    background-color: #D8A22E;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.04px;
    line-height: 21px;
  }

  &:hover {
    background-color: #1A1D1F;
    border: 2px solid #D8A22E;
    color: #D8A22E;
    text-decoration: none;
  }
}

.options-box {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 10px;
  background-color: #24272A;
  box-shadow: 0 2px 94px 0 #000000;
  overflow: hidden;
  margin-top: 50px;

  .body{
    margin-left: 40px;
    margin-right: 40px;
    padding-bottom: 20px;
  }
  
  .footer {
    height: 99px;
    background-color: #1A1D1F;
    overflow: auto;
  }

  .back{
    float: left;
    cursor: pointer;
    margin-top: 40px;
    margin-left: 37px;
    width: 75px;

    .icon {
      transform: rotate(135deg);
      box-sizing: border-box;
      height: 12px;
      width: 12px;
      border-bottom: 1.5px solid #8C8E8F;
      border-right: 1.5px solid #8C8E8F;
    }
  }

  .continue {
    text-align: right;
    margin-top: 30px;
    margin-right: 37px;
    float: right;
    width: 311px;
    border-radius: 2px;
    height: 29px;
    color: #D8A22E;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: -0.04px;
    line-height: 29px;
    text-decoration: none;
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }

  .continue-arrow {
    margin-top: 2px;
    margin-left: 9px;
    float: right;
    transform: rotate(135deg);
    box-sizing: border-box;
    height: 12px;
    width: 12px;
    border-top: 1.5px solid #D8A22E;
    border-left: 1.5px solid #D8A22E;
  }
}

.modal {
  border-radius: 10px;
  background-color: #24272A;
  box-shadow: 0 2px 94px 0 #000000;
  overflow: hidden;

  .content {
    padding-top: 1px;
    padding-left: 35px;
    padding-right: 35px;
  }

  .bottom {
    text-align: right;
    background-color: #1A1D1F;
    padding: 28px 35px;

    a {
      color: #D8A22E;
      font-size: 22px;
      font-weight: 300;
      letter-spacing: -0.04px;
      line-height: 29px;
      text-decoration: none;
    }
  }
}

.tabs {
  height: 43px;
  width: 478px;
  margin: auto;

  .tab{
    width: 50%;
    height: 100%;
    background-color: #080D0E;
    color: #858586;
    font-size: 12px;
    letter-spacing: 0.6px;
    line-height: 43px;
    text-align: center;
    cursor: pointer;
  }
  
  
  .tab-left{
    float: left;
    border-radius: 21.5px 0px 0px 21.5px;
  }
  
  .tab-right{
    float: left;
    border-radius: 0px 21.5px 21.5px 0px;
  }
  
  .tab-active{
    background-color: #CE9B2C;
    color: #080D0E;
  }
}

.link{
  color: #72767B;
  cursor: pointer;
  text-decoration: underline;

  &:hover{
    color: #D8A22E;
  }
}

.center-text{
  text-align: center;
}